OWNER_ID = 1909721616

API_ID =9306350 # get this value from my.telegram.org

API_HASH=410deb4302a1054ecaaf913acc5ca4dc # get this value from my.telegram.org

BOT_TOKEN =5276901951:AAG2yhgoAjYKUU2kO5wr5x4OAA0lC5HZ1Ts # get this value from @Botfather

MONGO_DB_URI= mongodb+srv://natisam:natisam@cluster1.aznu9uy.mongodb.net/?retryWrites=true&w=majority 

LOG_GROUP_ID=-1001523082196 # get this value from in your log group 

MUSIC_BOT_NAME=dark phoenix # your music bot name 

STRING_SESSION= AQB_tFgcwMOwumhg1dj6FC1HXvv4-FTFmneQkOCmprkk25q8HIxyLzjgFSoAagDoDersPMxm0uMz462mPZIHSrIX8uRdXkzJMtIjC2jSmFvBKZyENmTzR2vi2e3Nm2KJDkXYZcMUso3lV9kGkDhlJ9OFsbGMMhhhnipduHA-Lxlsc60HnDRC3kBCzm-W_QKV-JjuhFIiFXbuO3p_9QsFHco5ge8uFSn7bPyz2ZMwtmGs2cXv1AaYfYXWJdRtZ3YlvLGmUEon0Bm5MDhNs5bGVv-uxUaPWHDGhOfd3ujrDmoBPgVPleaQ1t_qPzIw7Gpcl64Zl7VwdiRWfZY1i-RzVwOocdQKEAA
