OWNER_ID = 1909721616

API_ID =9306350 # get this value from my.telegram.org

API_HASH=410deb4302a1054ecaaf913acc5ca4dc # get this value from my.telegram.org

BOT_TOKEN =5276901951:AAG2yhgoAjYKUU2kO5wr5x4OAA0lC5HZ1Ts # get this value from @Botfather

MONGO_DB_URI= mongodb+srv://natisam:natisam@cluster1.aznu9uy.mongodb.net/?retryWrites=true&w=majority 

LOG_GROUP_ID=-1001523082196 # get this value from in your log group 

MUSIC_BOT_NAME=dark phoenix # your music bot name 

STRING_SESSION= BQCtDCSTN9IZr0nLo7H6cWVsf2NYAtes_tsL9EIu_kYkaxpIIE-1bwaY3MFA7NXoodtYgizdRqTadauoXWFQ5VEdQgQ6PUmJUdKOWA4N7BgYujf32WogRPgX4vvXoarHx8j0zD594hnLW3dJ4Yfo3flyksoLvE20TKHbHfWsnE1RT_nVIHUQXXDUZZLfREKNmJz70eNzKZN3twj-OCUqPb7yKKt8al5UsQv-ssRmRYtB-zxSJj-h1owhyacAiKbYENjOiNasDZO5LQbhi7KPFkqcNvgnl_iBTn3W2BlwXi4wVhq9k_h_EJxPozO0NVZCkHAZcX_WHvdicc7ux-mJyoiiAAAAATENEpoA
