OWNER_ID = 1909721616

API_ID =9306350 # get this value from my.telegram.org

API_HASH=410deb4302a1054ecaaf913acc5ca4dc # get this value from my.telegram.org

BOT_TOKEN =5276901951:AAG2yhgoAjYKUU2kO5wr5x4OAA0lC5HZ1Ts # get this value from @Botfather

MONGO_DB_URI= mongodb+srv://natisam:natisam@cluster1.aznu9uy.mongodb.net/?retryWrites=true&w=majority 

LOG_GROUP_ID=-1001523082196 # get this value from in your log group 

MUSIC_BOT_NAME=dark phoenix # your music bot name 

STRING_SESSION= AQA7Pb8gaPiydhvRupTgUE0bV3WqdfbgkPLFyn-A4mN3JcmrbLT4Y3-tIvxZGI3N_ojU9gATiDxVjuUtIrdNZpvvChAaErgF8qizZvRQ3JcKTC869rE6AqQ8LscGwNebYYYKTBcxbfon8Kc8LmcnXP_qid7kTowAeS9vQ4AZdZObKEjkk1VAG_MaXVslfy0kID6L-39i13zICyU-IiZYlVE2H9krLcHJWIowoHrru8Oaf5Yu0bzHXSDtg22wWdLFEMe4bDKxIK3Jo8ushbazNILIyp5pbzDPca5A_XeI5TYZSaLXUldHF5KGKCml43pgykafR9j1nY9mxn4XrNG8mZTdcdQKEAAget this value from @yukkistringbo
